{% extends 'shared/layout.html' %}
{% load static %}
{% block h3 %}
  Anon-Ticket
{% endblock %}
{% block subheader %} 
  Moderator Portal
  <p>
    The below items are awaiting staff moderation.
    You can approve/reject multiple items at once by
    changing the status in the right-hand column
    to "approved" or "rejected" and then clicking on the 
    <span class="btn btn-primary p-1 mr-1 ml-1">Save All Changes</span>
    button at the bottom.
  </p>
  <p>
    You also can change the details of individual notes/issues by clicking 
    the <span class="btn-link">Change Details</span> links; 
    note that 
    you will lose pending status changes if you perform this action 
    before the form posts.
  </p>
{% endblock %}
<!-- Extra links block for pages that have a user_identifier piped to them.-->
{% block extra_links %}
  {% include 'shared/extend_sidebar.html' %}
{% endblock %}

<!-- Start Content Block -->
<!-- Start Issues Block -->
{% block content %}

<div class="row">
  <div class="col-12 mt-3">
    <form method="post" action="/moderator/">
      {% csrf_token %}
    <h2>Pending Issues</h2>
    <!-- If there are pending issues, render them here. -->
      {% if issue_formset %}
      {{ issue_formset.management_form }}
      {% endif %}
      {% if issue_formset.forms %}
          <table>
            <thead>
              <th class="align-middle">
                Related Details
              </th>
              <th class="align-middle">
                User
              </th>
              <th class="align-middle">
                Issue Title
              </th>
              <th class="align-middle">
                Confidential?
              </th>
              <th class="align-middle">
                Description and Moderator Comments
              </th>
              <th class="align-middle">
                Mod Actions
              </th>
            </thead>
            <tbody>
            {% for form in issue_formset %}
              {% for hidden in form.hidden_fields %}
              {{ hidden }}
              {% endfor %}
              <tr>
                <td style="width:15%">
                  <ul class="list-unstyled">
                    <li><strong>Project:</strong></li>
                    <li>{{form.instance.linked_project.name_with_namespace}}</li>
                    <li><strong>Created:</strong></li>
                    </li>{{form.instance.created_at|date:"d M, Y"}}
                    -{{form.instance.created_at|time:"H:i" }}</li>
                  </ul>
                </td>
                <td style="width:11%">
                  <p class="small short-height">{{form.instance.linked_user}}</p>
                </td>
                <td style="width:15%">
                  <p class="small short-height"> 
                    {{form.instance.title}}</p>
                </td>
                <td>
                  {{form.instance.confidential}}
                </td>
                <td>
                  {% if form.instance.mod_comment %}
                  <p class="strong short-height">                     
                      <span class="badge badge-primary">Mod Note:</span>
                     <span class="small ml-1 short-height"><strong>{{form.instance.mod_comment}}</strong></span></p>
                  {% endif %}
                  <pre>{{form.instance.description}}</pre>
                </td>
                <td style="width: 12%">
                  <div class="mt-0">
                    <a href="{% url 'mod-update-issue' form.instance.pk %}"
                    class="btn-link mr-2">Change Details</a>
                  </div>
                  <div class="mt-0">
                    <a href="{% url 'mod-update-issue' form.instance.pk %}"
                    class="btn-link mr-2" style="width: 100%">Add Comment</a>
                  </div>
                  <div class="mt-3">
                    Or Set Status:
                  </div>
                  <div class="mt-1">
                    {{form.reviewer_status}}
                  </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        <!-- If user was not in moderators group, issue_formset dictionary will have permission message. -->
        {% elif messages %}
          <p>{{messages.issue_message}}</p>
        <!-- If user was in moderators group, but there are no issues, display no issues message. -->
        {% else %}
        <p>No pending issues at this time.</p>
        {% endif %}
    </div>
  </div>
<!-- End Issues Block -->

<!-- Start Notes Block -->
<!-- Render Notes Table -->
<div class="row">
  <div class="col-12 mt-3">
    <h2>Pending Notes</h2>
      <!-- If there are pending notes, render them here. -->
      {% if note_formset %}
      {{ note_formset.management_form }}
      {% endif %}
      {% if note_formset.forms %}
        <table>
          <thead>
            <th class="align-middle">
              Related Details 
            </th>
            <th class="align-middle">
              User
            </th>
            <th class="align-middle">
              Linked Issue Title
            </th>
            <th class="align-middle">
              Note Body and Moderator Comments
            </th>
            <th class="align-middle">
              Mod Actions
            </th>
          </thead>
          {% for form in note_formset %}
            {% for hidden in form.hidden_fields %}
              {{ hidden }}
            {% endfor %}
          <tr>
            <td style="width:15%">
              <ul class="list-unstyled">
                <li><strong>Project:</strong></li>
                <li>{{form.instance.linked_project.name_with_namespace}}</li>
                <li><strong>Created:</strong></li>
                <li>{{form.instance.created_at|date:"d M, Y" }} 
                  -{{form.instance.created_at|time:"H:i" }}</li>
              </ul>
            </td>
            <td style="width:11%">
              <p class="small short-height">{{form.instance.linked_user}}</p>
            </td>
            <td style="width:15%">
              <p class="small short-height">
                #{{form.instance.issue_iid}}: {{form.instance.gitlab_issue_title}}
              </p>
            </td>
            <td>
              {% if form.instance.mod_comment %}
              <p class="strong short-height">
                <span class="badge badge-primary">Mod Note:</span>
                <span class="small ml-1"><strong>{{form.instance.mod_comment}}</strong></span class="small"></p>
             {% endif %}
              <pre>{{form.instance.body}}</pre>
            </td>
            <td style="width: 12%">
              <div class="mt-0">
                <a href="{% url 'mod-update-note' form.instance.pk %}"
                class="btn-link mr-2">Change Details</a>
              </div>
              <div class="mt-0">
                <a href="{% url 'mod-update-note' form.instance.pk %}"
                class="btn-link mr-2">Add Comment</a>
              </div>
              <div class="mt-3">
                Set Note Status:
              </div>
              <div class="mt-1">
                {{form.reviewer_status}}
              </div>
            </td>
          </tr>
          {% endfor %}
        </table>
<!-- If user was not in moderators group, issue_formset dictionary will have permission message. -->
      {% elif messages %}
      <p>{{messages.note_message}}</p>
<!-- If user was in moderators group, but there are no issues, display no issues message. -->
      {% else %}
      <p>No Pending Notes at this Time.</p>
      {% endif %}
    </div>
  </div>
<!-- End Notes Block -->

<!-- Start GitlabAccountRequest Block -->
<!-- Render GLAccountRequest Table -->
<div class="row">
  <div class="col-12 mt-5">
    <h2>Pending Gitlab Account Requests</h2>
      <!-- If there are pending notes, render them here. -->
      {% if gitlab_formset %}
      {{ gitlab_formset.management_form }}
      {% endif %}
      {% if gitlab_formset.forms %}
        <table>
          <thead>
            <th class="align-middle">
              Related Details 
            </th>
            <th class="align-middle">
              Username
            </th>
            <th class="align-middle">
              Email
            </th>
            <th class="align-middle">
              Reason and Moderator Comments
            </th>
            <th class="align-middle">
              Mod Actions
            </th>
          </thead>
          {% for form in gitlab_formset %}
            {% for hidden in form.hidden_fields %}
              {{ hidden }}
            {% endfor %}
          <tr>
            <td style="width:15%">
              <ul class="list-unstyled">
                <li><strong>Created:</strong></li>
                <li>{{form.instance.created_at|date:"d M, Y" }} 
                  -{{form.instance.created_at|time:"H:i" }}</li>
              </ul>
            </td>
            <td style="width:11%">
              <p class="small short-height">{{form.instance.username}}</p>
            </td>
            <td style="width:15%">
              <p class="small short-height">
                {{form.instance.email}}
              </p>
            </td>
            <td>
              {% if form.instance.mod_comment %}
              <p class="strong short-height">
                <span class="badge badge-primary">Mod Note:</span>
                <span class="small ml-1"><strong>{{form.instance.mod_comment}}</strong></span class="small"></p>
              {% endif %}
                {{form.instance.address}}
                {% if form.instance.linked_user %}
                <p class="short-height small mt-3 text-primary">
                  ***Linked User: {{form.instance.linked_user}}</p>
                {% endif %}
            </td>
            <td style="width: 12%">
              <div class="mt-0">
                <a href="{% url 'mod-update-gitlab-account-request' form.instance.pk %}"
                class="btn-link mr-2">Edit Request</a>
              </div>
              <div class="mt-0">
                <a href="{% url 'mod-update-gitlab-account-request' form.instance.pk %}"
                class="btn-link mr-2">Add Comment</a>
              </div>
              <div class="mt-3">
                Set Request Status:
              </div>
              <div class="mt-1">
                {{form.reviewer_status}}
              </div>
            </td>
          </tr>
          {% endfor %}
        </table>
<!-- If user was not in moderators group, issue_formset dictionary will have permission message. -->
      {% elif messages %}
      <p>{{messages.gitlab_message}}</p>
<!-- If user was in moderators group, but there are no issues, display no issues message. -->
      {% else %}
      <p>No Pending Gitlab Account Requests at this Time.</p>
      {% endif %}
    </div>
  </div>

<!-- Make the button for saving changes -->
<div class="row">
  <div class="col-12">
    <button type="submit" class="btn btn-lg btn-primary mr-2 mt-2">Save All Changes</button> 
    <a href="/tor_admin/logout" class="btn btn-lg btn-primary ml-2 mt-2">Logout</a>
    <a href="/tor_admin/password_change/?next=/moderator/" class="btn btn-lg btn-primary ml-2 mt-2">Reset Password</a>
        </form>
  </div>
</div>
{% endblock %}
