{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="noindex">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'shared/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'shared/css/anonticket.css' %}">
        <title>{% block title %} Anon-Ticket | Tor Anonymous Ticket Lobby | The Tor Project {% endblock %}</title>
    </head>
    <body class="no-gutters">
        <header>
          {% include 'shared/navbar-min.html' %}
        </header>
        <div class="page">
            <div class="container-fluid">
                <div class="row flex-xl-nowrap">
                    <nav id="sidenav-topics" class="border bg-white p-4 sticky-top">
                        <ul class="nav bd-toc flex-column">
                            <li class="nav-item">
                                Main Links:
                            </li>
                            <li class="nav-item">
                                <form action="{% url 'create-identifier' %}" method="POST">
                                    {% csrf_token %} 
                                    <button class="btn btn-sm btn-link p-0 border-0" type="submit">Create Identifier</button>
                                </form>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'login' %}">
                                    Login With Identifier
                                </a>
                            </li>
                            {% block extra_links%}
                            {% endblock %}
                          </ul>
                    </nav>
                    <div class="row col-sm-12 col-xs-12 ml-sm-auto col-md-9 col-lg-9 mr-auto">   
                        <main role="main" class="col-md-11 col-xl-11 py-md-3 pl-xl-3 pr-xl-5 pl-md-3 pr-md-3 bd-content" 
                        data-spy="scroll" data-target="#components-nav" data-offset="0">
                            <div class="row">
                                <div class="col-12">
                                    <div class="page-header mb-4 mt-5">
                                        <h3>
                                            {% block h3 %} A header {% endblock %}
                                        </h3>
                                        <p class="text-muted">
                                            {% block subheader %} Anonymous GitLab Ticket System for TorProject {% endblock %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% block content %}
                                <p>Body Text Goes here</p>
                            {% endblock %}
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
